<h1>*ngFor Objetos</h1>
<ul>
  <li *ngFor="let producto of productos">
      <img [src]="producto.imagen" alt="" width="120">
      <p>{{producto.nombre}} {{producto.precio}}</p>
  </li>
</ul>
<h1>*ngFor</h1>
<input type="text" [(ngModel)]="auxNombre"><button (click)="agregarNombre()">Agregar Nombre</button>
<ul>
  <li *ngIf="nombres.length===0">No hay nombres en la Lista </li>
  <li *ngFor=" let nombre of nombres; index as i ">
    {{nombre}} en la posicion {{i}} <button (click)="eliminarNombre(i)">Eliminar</button>
  </li>
</ul>
<h1>*ngIf</h1>
<input type="text" [(ngModel)]="person.name">
<p *ngIf="person.name==='Damian'">Damian</p>
<p *ngIf="person.name==='Victor' && person.age==31; else bloqueElse" >Victor</p>
<ng-template #bloqueElse>
  <p>Bloque Else</p>
</ng-template>
<h1>NgModel</h1>

<p>Mi nombre es: {{person.name}}</p>
<input type="text" #nombreInput="ngModel" required [(ngModel)]="person.name" >
<p>Validado: {{nombreInput.valid}}</p>

<p>Mi Edad es: {{person.age}}</p>
<input type="number" #edadInput="ngModel" required [(ngModel)]="person.age" max="90" min="1" >
<p>Validado: {{edadInput.valid}}</p>

<p>Apellido: {{person.firstName}}</p>
<input type="text" #apellidoInput="ngModel" required [(ngModel)]="person.firstName">
<p>Validado: {{apellidoInput.valid}}</p>

<hr>
<h1>Eventos</h1>

<button [disabled]="btnDisabled">Enviar</button>
<button (click)="activarButton()">Activar</button>

<p>Edad: {{person.age}}</p>
<button (click)="incrementarEdad()">Incrementar Edad</button>
<div class="box" (scroll)="verScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt odit at pariatur error enim natus beatae ea vel impedit, animi rem debitis minima ex explicabo eveniet excepturi. Ipsa, minus consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio soluta saepe, dignissimos sequi enim sapiente culpa consequatur voluptas excepturi deleniti voluptatum ab facilis quisquam magni iure tenetur accusamus, autem perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quaerat debitis sint, architecto impedit vero quia suscipit autem culpa, perferendis nulla vitae cupiditate nihil odit, sunt tempora quos quod? Eos.</p>
</div>
<br>
<p>Mi Nombre es: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="cambiarNombre($event)">
<hr>
<H1>Propiedades</H1>

<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" >
<progress [value]="person.age" max="100"></progress>
<img [src]="person.avatar" width="100">
<hr>
<h1>Hola Mundo</h1>
<h2>{{'Hola Mundo '.repeat(5)}}</h2>
<p>3 + 3 = {{3+3}}</p>
<p>{{[1,2].reverse()}}</p>
